.weather-info {
  text-align: left;
  animation: fadeIn 2s ease-in-out;
}

.weather-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xlarge);
  padding: var(--spacing-medium);
}

.weather-icon {
  font-size: 3rem;
  color: var(--primary-color);
  animation: spin 2s linear infinite;
  margin-right: 1rem;
}

.weather-info li {
  font-size: var(--font-size-medium);
  margin: var(--spacing-small) 0;
}